<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Tech Blog 
    </h1>
    <ul>
        <nav>
          <li><button class="btn-info" id="home">Home</button></li>
          <li><button class="btn-info" id="dashboard" >Dashboard</button></li>
          {{#if logged_in}}
          <li><button class="btn-danger" id="logout">Logout</button></li>
          {{else}}
          <li><button class="btn-primary" id="login">Login</button></li>
          {{/if}}
        </nav>
    </ul>
  
  </header>
  <main class="container container-fluid">
    {{{ body }}}
  </main>
  <!-- Only display the logout button if the user is logged in -->
  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{else}}
  <script src="/js/loginButton.js"></script>
  {{/if}}
  <script src="/js/main.js"></script>
</body>
</html>
