  {{#each posts as |post|}}
  <div class="updatePost" data-id={{post.id}}>
    <h3>{{post.title}} created on {{formatDate post.createdAt}}</h3>
  </div>
  {{/each}}
  <button class="btn btn-primary newPost">new post</button>
</div>
<script src="/js/dashboard.js"></script>