{{#each users as |user| }}
  {{#each user.posts as |post|}}
    {{#if (checkPost post)}}
    <div class="row align-center mb-5 blog-post" data-id={{post.id}}>
      <div class="col-md-6">
        <h2>{{post.title}}</h2>
        <h3>made on {{post.createdAt}}</h3>
      </div>
    </div>
    {{/if}}
  {{/each}}
{{/each}}
  <script src="/js/homePost.js"></script>
